@model ProductDetailsModel
@{
    ViewData["Title"] = "Details";
}

<section id="content">

    <!-- shop section start -->
    <section id="shop" class="container">

        <!-- row start -->
        <div class="row">

            <!-- sidebar start -->
            <div id="sidebar" class="col-md-3">

                <!-- search widget start -->
                <div class="widget">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- search widget end -->
                <!-- categories widget start -->
                @await Component.InvokeAsync("CategoryMenu")
                <!-- categories widget end -->
                <!-- featured products widget start -->
                @await Component.InvokeAsync("FeaturedProducts")
                <!-- featured products widget end -->

            </div>
            <!-- sidebar end -->
            <!-- main column start -->
            <div class="col-md-9">

                <div class="row">


                    <!-- product page top info start -->
                    <div class="col-md-12 product">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="product-gallery" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

                                    @foreach (var img in Model.Images)
                                    {
                                        <div class="item">
                                            <img alt="" class="img-responsive" src="/images/products/@img.ImageName" />
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="padding15">
                                    <h2 class="product-title"><b>@Model.Product.ProductName</b></h2>
                                   
                                   
                                </div>
                                <p>@Model.Product.Description</p>

                                <div class="padding15">

                                    <form asp-action="AddToCart" asp-controller="Cart" method="post" class="form-inline">

                                        <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />
                                       
                                        
                                    </form>

                                </div>

                                <p>
                                    <b>Category:</b>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <a href="#">@item.CategoryName</a>
                                    }
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- product page top info end -->
                    <!-- product page middle info start -->
                    <div class="col-md-12 padding25">


                        <ul class="nav nav-tabs">
                            <li class=""><a data-toggle="tab" href="#description" aria-expanded="false">Description</a></li>
                            <li class="active"><a data-toggle="tab" href="#spec" aria-expanded="true">Specifications</a></li>
                            
                        </ul>


                        <div class="tab-content">

                            <!-- description tab start -->
                            <div id="description" class="tab-pane fade">
                                @Html.Raw(Model.Product.HtmlContent)
                            </div>
                            <!-- description tab end -->
                            <!-- Specifications tab start -->
                            <div id="spec" class="tab-pane fade active in">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody>

                                            @foreach (var item in Model.Attributes)
                                            {
                                                <tr>
                                                    <td><b>@item.Attribute</b></td>
                                                    <td>@item.Value</td>
                                                </tr>
                                            }





                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Specifications tab end -->
                            <!-- reviews tab start -->
                            <div id="reviews" class="tab-pane fade">

                               

                                

                               

                            </div>
                            <!-- reviews tab end -->

                        </div>

                    </div>

                </div>
                <!-- row end -->

            </div>
            <!-- main column end -->

        </div>
        <!-- row end -->

    </section>
    <!-- shop section end -->

</section>
