@model ProductModel

@{ ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var counter = 0;
}

<h1>Ürünleri Düzenle</h1>
<hr />

<form asp-controller="Admin" asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <!-- enctype -> Form içinden dosya taşıma işlemleri için.  -->

    <div class="row">
        <div class="col-md-8">

            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <div class="form-group row">
                <label asp-for="ProductName" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="ProductName" value="@Model.ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span> <!-- Hata mesajı -->
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Image" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input type="hidden" name="ImageUrl" value="@Model.Image" />
                    <img src="~/images/products/tn/@Model.Image" width="80" />
                    <input type="file" name="file" value="" />
                    @*  <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />*@
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <textarea id="editor" asp-for="Description" class="form-control">
                        @Model.Description
                    </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span> <!-- Hata mesajı -->
                </div>
            </div>
            <!--<div class="form-group row">
    <label asp-for="Attributes" class="col-md-2 col-form-label"></label>
    <div class="col-md-10">
        <textarea id="editor" asp-for="Attributes" class="form-control">

        </textarea>
        <span asp-validation-for="Attributes" class="text-danger"></span>-->
            <!-- Hata mesajı -->
            <!--</div>
    </div>-->

            <div class="form-group">
                @Html.LabelFor(model => model.IsHome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsHome)
                        @Html.ValidationMessageFor(model => model.IsHome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsApproved)
                        @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsFeatured, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsFeatured)
                        @Html.ValidationMessageFor(model => model.IsFeatured, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            @foreach (var item in ViewBag.Categories)
            {
                var isChecked = "";
                if (Model.SelectedCategories.Any(i => i.CategoryId == item.CategoryId))
                {
                    isChecked = "checked";

                    <input type="hidden" name="SelectedCategories[@counter].CategoryId" value="@item.CategoryId" />
                    <input type="hidden" name="SelectedCategories[@counter].CategoryName" value="@item.CategoryName" />

                    counter++;


                }
                else
                {
                    isChecked = "";
                }

                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           name="categoryIds"
                           value="@item.CategoryId"
                           class="custom-control-input"
                           id="category@(item.CategoryId)"
                           @isChecked>
                    <label class="custom-control-label" for="category@(item.CategoryId)">@item.CategoryName</label>
                </div>

            }
        </div>

        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>

</form>